<div class="container-full-width">
    <div id="toptop" class="row">
        <?php foreach ($modules as $module) { ?>
        <div id="slider-top-full">
            <?php echo $module; ?>
        </div>
        <?php } ?>
    </div>
</div>