<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><?php echo $title; ?></title>
    <?php if ($robots) { ?>
    <meta name="robots" content="<?php echo $robots; ?>"/>
    <?php } ?>
    <base href="<?php echo $base; ?>"/>
    <?php if ($description) { ?>
    <meta name="description" content="<?php echo $description; ?>"/>
    <?php } ?>
    <?php if ($keywords) { ?>
    <meta name="keywords" content="<?php echo $keywords; ?>"/>
    <?php } ?>
    <script src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="/catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/catalog/view/theme/default/font/Linearicons-Free/style.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
    <link href="/catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    <?php foreach ($styles as $style) { ?>
    <link href="<?php echo $style['href']; ?>" type="text/css" rel="<?php echo $style['rel']; ?>"
          media="<?php echo $style['media']; ?>"/>
    <?php } ?>
    <script src="/catalog/view/javascript/common.js" type="text/javascript"></script>
    <?php foreach ($links as $link) { ?>
    <link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>"/>
    <?php } ?>
    <?php foreach ($scripts as $script) { ?>
    <script src="<?php echo $script; ?>" type="text/javascript"></script>
    <?php } ?>
    <?php foreach ($analytics as $analytic) { ?>
    <?php echo $analytic; ?>
    <?php } ?>
</head>
<body class="<?php echo $class; ?>">
<!--
<nav id="top">
    <div class="container">

        <?php echo $currency; ?>
        <?php echo $language; ?>
        <?php echo $menu; ?>
        <div id="top-links" class="nav pull-right">
            <ul class="list-inline">
                <li><a href="<?php echo $contact; ?>"><i class="fa fa-phone"></i></a> <span
                            class="hidden-xs hidden-sm hidden-md"><?php echo $telephone; ?></span></li>
                <li class="dropdown"><a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>"
                                        class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span
                                class="hidden-xs hidden-sm hidden-md"><?php echo $text_account; ?></span> <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <?php if ($logged) { ?>
                        <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
                        <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
                        <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
                        <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
                        <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                        <?php } else { ?>
                        <li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
                        <li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
                        <?php } ?>
                    </ul>
                </li>
                <li><a href="<?php echo $wishlist; ?>" id="wishlist-total" title="<?php echo $text_wishlist; ?>"><i
                                class="fa fa-heart"></i> <span
                                class="hidden-xs hidden-sm hidden-md"><?php echo $text_wishlist; ?></span></a></li>
                <li><a href="<?php echo $shopping_cart; ?>" title="<?php echo $text_shopping_cart; ?>"><i
                                class="fa fa-shopping-cart"></i> <span
                                class="hidden-xs hidden-sm hidden-md"><?php echo $text_shopping_cart; ?></span></a></li>
                <li><a href="<?php echo $checkout; ?>" title="<?php echo $text_checkout; ?>"><i class="fa fa-share"></i>
                        <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_checkout; ?></span></a></li>
            </ul>
        </div>
    </div>
</nav>
-->
<header>
    <!--   <div class="container">
           <div class="row">
               <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3 header-cols vertical-center" style="min-height:70px;justify-content: center">
                   <div id="logo">
                       <?php if ($logo) { ?>
                       <a class="vertical-center" href="<?php echo $home; ?>"><img style="padding-right: 20px;"
                                                                                   src="<?php echo $logo; ?>"
                                                                                   title="<?php echo $name; ?>"
                                                                                   alt="<?php echo $name; ?>"
                                                                                   class="img-responsive"/>

                       </a>
                       <?php } else { ?>
                       <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
                       <?php } ?>
                   </div>
               </div>
               <div class="col-xs-12 col-sm-7 col-md-6 header-cols vertical-center" style="text-align: center">
                   <nav id="menu" class="navbar">
                       <div class="navbar-header">
                           <button type="button" id="menu-button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                                   data-target=".navbar-ex1-collapse">
                               <i class="fa fa-bars"></i>
                               Меню
                           </button>
                       </div>
                       <div class="collapse navbar-collapse navbar-ex1-collapse displaynone-1024">
                           <ul class="nav navbar-nav header-menu-100" style="margin-top: 15px;">
                               <?php foreach ($categories as $category) { ?>
                               <?php if ($category['children']) { ?>
                               <li class="dropdown">
                                   <a href="<?php echo $category['href']; ?>" class="dropdown-toggle"
                                      data-toggle="dropdown"><?php echo $category['name']; ?></a>
                                   <div class="dropdown-menu">
                                       <div class="dropdown-inner">
                                           <?php foreach (array_chunk($category['children'], ceil(count($category['children']) / $category['column'])) as $children) { ?>
                                           <ul class="list-unstyled">
                                               <?php foreach ($children as $child) { ?>
                                               <li class="f-14"><a
                                                           href="<?php echo $child['href']; ?>"><?php echo $child['name']; ?></a>
                                               </li>
                                               <?php } ?>
                                           </ul>
                                           <?php } ?>
                                       </div>
                                       <a href="<?php echo $category['href']; ?>"
                                          class="see-all"><?php echo $text_all; ?> <?php echo $category['name']; ?></a>
                                   </div>
                               </li>
                               <?php } else { ?>
                               <li class="f-14 block-inline menu-li-mobile"><a
                                           href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a>
                               </li>
                               <?php } ?>
                               <?php } ?>
                               <li class="f-14 block-inline menu-li-mobile">
                               <div class="search-final"><?php echo $search; ?></div>
                               </li>
                           </ul>
                       </div>
                   </nav>

               </div>
               <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3 header-cols vertical-center" style="justify-content: center">

                   <div class="col-sm-12 mt-15" style="width:100%;">
                   <?php echo $telephone; ?>
                   <?php echo $language; ?>
                   </div>
               </div>
               <div class="col-xs-12">
                   <ul class="list-inline">
                       <li class="dropdown"><a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>"
                                               class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span
                                       class="hidden-xs hidden-sm hidden-md"><?php echo $text_account; ?></span> <span
                                       class="caret"></span></a>
                           <ul class="dropdown-menu dropdown-menu-right">
                               <?php if ($logged) { ?>
                               <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
                               <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
                               <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
                               <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
                               <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                               <?php } else { ?>
                               <li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
                               <li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
                               <?php } ?>
                           </ul>
                       </li>
                       <li><a href="<?php echo $wishlist; ?>" id="wishlist-total" title="<?php echo $text_wishlist; ?>"><i
                                       class="fa fa-heart"></i> <span
                                       class="hidden-xs hidden-sm hidden-md"><?php echo $text_wishlist; ?></span></a></li>
                       <li><a href="<?php echo $shopping_cart; ?>" title="<?php echo $text_shopping_cart; ?>"><i
                                       class="fa fa-shopping-cart"></i> <span
                                       class="hidden-xs hidden-sm hidden-md"><?php echo $text_shopping_cart; ?></span></a></li>
                       <li><a href="<?php echo $checkout; ?>" title="<?php echo $text_checkout; ?>"><i class="fa fa-share"></i>
                               <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_checkout; ?></span></a></li>
                   </ul>
               </div>
           </div>
       </div>
       -->
    <div class="container">
        <div class="header-container">
            <div class="block-logo">
                <div id="logo">
                    <?php if ($logo) { ?>
                    <a href="<?php echo $home; ?>"><img src="<?php echo $logo; ?>" title="<?php echo $name; ?>"
                                                        alt="<?php echo $name; ?>" class="img-responsive"/>
                    </a>
                    <?php } else { ?>
                    <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
                    <?php } ?>
                </div>
            </div>
            <div class="block-menu">
                <nav id="menu" class="navbar">
                    <div class="navbar-header">
                        <button type="button" id="menu-button" class="btn btn-navbar navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <i class="fa fa-bars"></i>
                            Меню
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse displaynone-1024">
                        <ul class="nav navbar-nav">
                            <?php foreach ($categories as $category) { ?>
                            <?php if ($category['children']) { ?>
                            <li class="dropdown">
                                <a href="<?php echo $category['href']; ?>" class="dropdown-toggle"
                                   data-toggle="dropdown"><?php echo $category['name']; ?></a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">
                                        <?php foreach (array_chunk($category['children'], ceil(count($category['children']) / $category['column'])) as $children) { ?>
                                        <ul class="list-unstyled">
                                            <?php foreach ($children as $child) { ?>
                                            <li class="f-14"><a
                                                        href="<?php echo $child['href']; ?>"><?php echo $child['name']; ?></a>
                                            </li>
                                            <?php } ?>
                                        </ul>
                                        <?php } ?>
                                    </div>
                                    <a href="<?php echo $category['href']; ?>"
                                       class="see-all"><?php echo $text_all; ?> <?php echo $category['name']; ?></a>
                                </div>
                            </li>
                            <?php } else { ?>
                            <li class="f-14 block-inline menu-li-mobile"><a
                                        href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a>
                            </li>
                            <?php } ?>
                            <?php } ?>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="block-search">
                <div class="search-header"><?php echo $search; ?></div>
            </div>
            <div class="block-cart">
                <ul class="list-inline">
                    <li><?php echo $language; ?></li>
                    <li class="dropdown"><a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>"
                                            class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><!-- <span
                                    class="hidden-xs hidden-sm hidden-md"><?php echo $text_account; ?></span>--> <!--<span
                                    class="caret"></span> --></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <?php if ($logged) { ?>
                            <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
                            <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
                            <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
                            <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
                            <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
                            <?php } else { ?>
                            <li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
                            <li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
                            <?php } ?>
                        </ul>
                    </li>
                    <li><a href="<?php echo $wishlist; ?>" id="wishlist-total" title="<?php echo $text_wishlist; ?>"><i
                                    class="fa fa-heart"></i> <!-- <span
                                    class="hidden-xs hidden-sm hidden-md"><?php echo $text_wishlist; ?></span>--></a></li>
                    <li style="width:27px;"><a style="position:relative;" href="<?php echo $shopping_cart; ?>" title="<?php echo $text_shopping_cart; ?>"><i
                                     class="fa fa-shopping-cart"></i>
                            <span class="cart-total"></span><!-- <span
                                    class="hidden-xs hidden-sm hidden-md"><?php echo $text_shopping_cart; ?></span>--></a></li>
                    <li><a style="display:none;" href="<?php echo $checkout; ?>" title="<?php echo $text_checkout; ?>"><i class="fa fa-share"></i>
                            <!--<span class="hidden-xs hidden-sm hidden-md"><?php echo $text_checkout; ?></span>--></a></li>

                </ul>
            </div>
        </div>
    </div>
</header>

