<div class="complectation-block">
    <div class="container">
        <div class="row vertical-center min-height-700">
            <div class="col-lg-6 col-12">
                <div class="green-square">
                    <div class="square-text">
                        <div style="font-size:43px !important;background: linear-gradient( #2c5e1c, #3a8722, #55d283);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Як правильно
                        </div>

                        <div style="font-size:43px !important;background: linear-gradient( #2c5e1c, #3a8722, #55d283);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Мити автомобіль
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <p align="justify">Вас цікавить запитання, якими програмами мити автомобіль для помітного результату?
                    Важливо використовувати цілий комплекс. Тільки якісна автомийка з застосуванням сукупності програм
                    продемонструє хороший ефект.</p>

                <p align="justify">Деякі клієнти запитують, яка програма мийки МСО шкідлива для автомобіля, втім, якісна
                    автохімія власного виробництва впливає на поверхню авто лише позитивно.</p>

                <p align="justify">Green Wave &ndash; автомийка, яка дозволяє клієнтам поєднати цілий спектр програм.
                    Вигідна та оперативна автомийка &laquo;під ключ&raquo; дозволить забезпечити чистоту машини на
                    довгий період!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mb-5 row">
            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="left-block">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle ">
                                <div class="vertical-center">
                                    <p class="number">01</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Видалення комах</div>

                            <div class="compl-description">
                                <p align="justify">&laquo;Green Wave&raquo; &ndash; автомийка, в програму якої входить
                                    не лише якісне й повноцінне видалення плям та забруднень з поверхні авто, але й
                                    ефективна ліквідація слідів комах.</p>
                                <a href="http://pythontest.golden-web.org/zasib-dlia-vydalennia-komakh">Детальніше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-1">&nbsp;</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-2">&nbsp;</div>
            </div>

            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="right-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Активна піна</div>

                            <div class="compl-description">
                                <p align="justify">Програма автомийки самообслуговування &laquo;активна піна&raquo;
                                    допоможе якісно та ефективно видалити усі плями та забруднення з поверхні
                                    автомобіля.</p>
                                <a href="http://pythontest.golden-web.org/aktyvna-pina">Детальніше</a></div>
                        </div>

                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle">
                                <div class="vertical-center">
                                    <p class="number">02</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="complectation-block">
    <div class="container">
        <div class="mb-5 row">
            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="left-block">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle ">
                                <div class="vertical-center">
                                    <p class="number">03</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Програма Очисник</div>

                            <div class="compl-description">
                                <p align="justify">Програма мийки &laquo;Очисник&raquo; є однією з найбільш ефективних
                                    та популярних, адже вона демонструє помітні результати в абсолютно різних погодних
                                    умовах.</p>
                                <a href="http://pythontest.golden-web.org/ochysnyk">Детальніше</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-1">&nbsp;</div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-2">&nbsp;</div>
            </div>

            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="right-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Гаряча вода</div>

                            <div class="compl-description">
                                <p align="justify">Безконтактна мийка від Грін Вейв пропонує усім водіям застосувати в
                                    ході чистки програму &laquo;Гаряча вода&raquo;. Саме ця функція дозволяє поєднати
                                    цілий ряд переваг під час миття автомобіля.</p>
                                <a href="http://pythontest.golden-web.org/hariacha-voda">Детальніше</a></div>
                        </div>

                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle">
                                <div class="vertical-center">
                                    <p class="number">04</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="complectation-block">
    <div class="container">
        <div class="mb-5 row">
            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="left-block">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle ">
                                <div class="vertical-center">
                                    <p class="number">05</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Холодна Вода</div>

                            <div class="compl-description">
                                <p align="justify">Подається вода при оптимальній температурі від +6 до +14&deg;С. Саме
                                    в такій температурі вона добувається з свердловини.</p>
                                <a href="http://pythontest.golden-web.org/kholodna-voda">Детальніше</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-1">&nbsp;</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-2">&nbsp;</div>
            </div>

            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="right-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Віск</div>

                            <div class="compl-description">
                                <p align="justify">Програма воскування на мийці самообслуговування Green Wave
                                    застосовується для того, аби зберегти покриття автомобіля в хорошому стані.</p>
                                <a href="http://pythontest.golden-web.org/visk">Детальніше</a></div>
                        </div>

                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle">
                                <div class="vertical-center">
                                    <p class="number">06</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="complectation-block">
    <div class="container">
        <div class="mb-5 row">
            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="left-block">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle ">
                                <div class="vertical-center">
                                    <p class="number">07</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Осмос вода</div>

                            <div class="compl-description">
                                <p align="justify">&laquo;Осмос&raquo; &ndash; це вода, очищена до 98%, завдяки чому
                                    вона є практично дистилятом. Такий рівень чистоти води робить її надійним та якісним
                                    засобом для чистки автомобілів.</p>
                                <a href="http://pythontest.golden-web.org/osmos-voda">Детальніше</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-1">&nbsp;</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-3 hidden-sm d-none d-sm-block">
                <div class="lines lines-2">&nbsp;</div>
            </div>

            <div class="col-xl-6 col-md-9 col-sm-12">
                <div class="right-block">
                    <div class="row">
                        <div class="col-xl-8 col-md-8 col-sm-12">
                            <div class="compl-title">Стоп</div>

                            <div class="compl-description">
                                <p align="justify">Завдяки цій інформації, ви зможете самостійно контролювати чистку
                                    власного автомобіля й будете здатні припинити процес у будь-який момент.</p>
                                <a href="http://pythontest.golden-web.org/knopka-stop/">Детальніше</a></div>
                        </div>

                        <div class="col-xl-4 col-md-4 d-none d-sm-block">
                            <div class="circle">
                                <div class="vertical-center">
                                    <p class="number">08</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>