<script>
    var config = {{ json_config }} ;
    if(typeof(ga) == "undefined")
        config.general.analytics_event = 0;
</script>
<style>
	{{ config['design']['custom_style'] }}
	{% if config.design.only_quickcheckout %}
	body > *{
		display: none
	}
	body > #d_quickcheckout{
		display: block;
	}
	#d_quickcheckout.container #d_logo{
		margin: 20px 0;
	}
	{% endif %}
</style>
<div id="d_quickcheckout">
    {% if config.design.only_quickcheckout %}
		<div id="d_logo" class="center-block text-center"></div>
    {% endif %}
    {{ field }}
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="qc-col-0">
        {{ login }}
        {{ payment_address }}
        {{ shipping_address }}
        {{ shipping_method }}
        {{ payment_method }}
        {{ cart }}
        {{ payment }}
        {{ confirm }}
	</div>
	<div class="row">
		<div class="qc-col-1 col-md-{{ config.design.column_width[1] }}">
		</div>
		<div class="col-md-{{ config.design.column_width[4] }}">
			<div class="row">
				<div class="qc-col-2 col-md-{{  config.design.column_width[4] ? (config.design.column_width[2] / config.design.column_width[4] * 12)|round : '0' }}  ">
				</div>
				<div class="qc-col-3 col-md-{{ config.design.column_width[4] ? 12 - (config.design.column_width[2] / config.design.column_width[4] * 12)|round : '0' }} ">
				</div>
				<div class="qc-col-4 col-md-12">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $(function() {

        $('.qc-step').each(function(){
            $(this).appendTo('.qc-col-' + $(this).attr('data-col'));
        })
        $('.qc-step').tsort({attr:'data-row'});
        {% if config.design.only_quickcheckout %}
        $('body').prepend($('#d_quickcheckout'));
        $('#d_quickcheckout').addClass('container')
        $('#d_quickcheckout #d_logo ').prepend($('header #logo').html())
        {% endif %}
        {% if not config.design.breadcrumb %}
        $('.qc-breadcrumb').hide();
        {% endif %}
    })

    <!--НОВА ПОШТА-->

    var shipping = 'novaposhta.novaposhta';

    function render_novapostaebana(){
        setTimeout(function (e) {
            var nenova = $('#flat\\.flat');
            var nova = $('#novaposhta\\.novaposhta');
            shipping = 'novaposhta.novaposhta';
            nova.on('click', function(){
                console.log(shipping);
            });
            nova.trigger('click');


            $('label[for *= address_1] > span.text').html('{{ entry_warehouses }}'); //change field`s name
            zone = $('select[name *= zone_id]').val();
            if (zone) {
                getData('getCities', zone);
                $('[name *= address_1], [name *= postcode]').val('');
            }
        },1000);
    }

    $(document).ready(function(){

    });


    //Intercept event
    document.body.addEventListener('change',
        function(e) {
            console.info('Catch event "' + e.type + '" of element "' + e.target.name + '". Selected value: ' + e.target.value);
            checkEvent(e);
        },
        true
    );

    function checkEvent(e) {
        console.log('-call method "checkEvent(e)"');


        if (e.target.name == 'shipping_method') {
            console.log('-delivery method changed');

            shipping = e.target.value;

            if (e.target.value == 'novaposhta.novaposhta') {
                $('label[for *= address_1] > span.text').html('{{ entry_warehouses }}'); //change field`s name
                zone = $('select[name *= zone_id]').val();

                console.log('-selected method of delivery "Nova Poshta"');
                console.log('-selected zone`s value: ' + zone);

                if (zone) {
                    console.log('-get "Nova Poshta" cities and cleaning the address field');

                    getData('getCities', zone);
                    $('[name *= address_1], [name *= postcode]').val('');
                }
            } else {
                console.log('-return default fields');

                var replacement_fields_address_1 = $('[name *= address_1]');
                var replacement_fields_city = $('[name *= city]');
                var new_input_address_1 = document.createElement('input');
                var new_input_city = document.createElement('input');

                new_input_address_1.setAttribute('type', 'text');
                new_input_city.setAttribute('type', 'text');

                copyAttributes(replacement_fields_address_1[0], new_input_address_1);
                copyAttributes(replacement_fields_city[0], new_input_city);

                replacement_fields_address_1.replaceWith(new_input_address_1.outerHTML);
                replacement_fields_city.replaceWith(new_input_city.outerHTML);

                $('[name *= postcode]').val('');
                $('label[for *= address_1] > span.text').html("{{ entry_address_1 }}"); //change field`s name
            }
        } else if (e.target.name.indexOf('zone') > -1 && shipping == 'novaposhta.novaposhta') {
            console.log('-changed zone. Selected value:' + e.target.value);
            console.log('-get "Nova Poshta" cities');

            getData('getCities', e.target.value);
        } else if (e.target.name.indexOf('city') > -1 && shipping == 'novaposhta.novaposhta') {
            console.log('-changed city. Selected value:' + e.target.value);
            console.log('-get "Nova Poshta" warehouses');

            getData('getWarehouses', e.target.value);
            $('[name *= postcode]').val('postcode');

            refreshCheckout(3); // Ajax Quick Checkout
        } else if ((e.target.name.indexOf('account') > -1 || e.target.name.indexOf('register') > -1) && shipping == 'novaposhta.novaposhta') {
            console.log('-changed account. Selected value:' + e.target.value);

            zone = $('select[name *= zone_id]').val();

            if (zone) {
                console.log('-get "Nova Poshta" cities and cleaning the address field');

                $(document).ajaxStop( function() {
                    getData('getCities', zone);
                });
                $('[name *= address_1], [name *= postcode]').val('');
            }
        }
    }


    function getData(method, filter) {
        var input;

        switch(method) {
            case 'getCities':
                input = 'city';
                break;

            case 'getWarehouses':
                input = 'address_1';
                break;
        }

        $.ajax( {
            url: 'index.php?route=module/shippingdata/getData',
            type: 'GET',
            data: '&shipping=' + shipping + '&method=' + method + '&filter=' + filter,
            dataType: 'json',
            async: false,
            global: false,
            success: function (json) {
                var html;
                var replacement_fields = $('[name *= ' + input + ']');
                var new_select = document.createElement('select');

                html = '<option value="">Виберіть</option>';

                for (var i = 0; i < json.length; i++) {
                    html += '<option value="' + json[i]['Description'] + '">' + json[i]['Description'] + '</option>';
                }

                new_select.innerHTML = html;
                copyAttributes(replacement_fields[0], new_select);
                replacement_fields.replaceWith(new_select.outerHTML);
            }
        } );
    }

    function copyAttributes(from_element, to_element) {
        if (from_element != undefined) {
            var attrs = from_element.attributes;
            console.log('- copy attributes into a new element');

            for(var i = 0; i <= attrs.length - 1; i++) {
                if (attrs[i].name == 'type' || attrs[i].name == 'data-require') {
                    continue;
                }
                to_element.setAttribute(attrs[i].name, attrs[i].value);
            }
        }
    }

    $(function() {
        if (shipping == 'novaposhta.novaposhta') {
            $('[name *= city], [name *= postcode]').val('');
            $('[name *= zone]').prop('selectedIndex', 0);
            $('label[for *= address_1] > span.text').html('{{ entry_warehouses }}'); //change field`s name
        }
    } );
    <!--НОВА ПОШТА-->

</script>