.categorywall {
	margin-bottom: 20px;
}
.categorywall .categorywall_thumbnail > a {
	font-size: 22px;
	font-weight: normal;
	position: relative;
	color:#000;
}

.categorywall.covers .categorywall_thumbnail {
    position:relative;
    overflow:hidden;
	padding-right: 15px;
	padding-left: 15px;
	
}
.categorywall img{
	margin: 0 auto;
}

.categorywall .product-thumb {
	padding: 10px 10px 20px 10px;
    height: 250px;
    overflow: hidden;
}
 
.categorywall.covers .caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding: 10px 10px 20px 10px ;
    display: none !important;
    text-align:center;
    color:#fff !important;
    z-index:2;

}
.categorywall.covers .categorywall_thumbnail > a.parent {
	z-index: 3;
	display: block;
}
.categorywall.covers .categorywall_thumbnail:hover > a.parent {
}


.categorywall.covers .categorywall_thumbnail > img {
    margin-bottom: 15px;
}
.categorywall.covers .caption  ul {
	margin: 0;
	padding: 10px;
}
.categorywall  ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

.categorywall.covers .caption  ul li  a{
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}
.categorywall.wide .categorywall_thumbnail  > a:first-child {
	margin-bottom: 10px;
    display: block;
}
.categorywall .half a + div + a {
	width: 50%;
	display: inline-block;
	float: left;
}
.categorywall .children {
	width: 49%;
	display: inline-block;
	float: left;
}

.categorywall.wide > div { 
	min-height: 265px;
}
.categorywall .children > ul  {
	margin: 0 0 0 10px;
	padding: 0;
}
.categorywall .children > ul > li{
	 border-bottom: 1px solid #ddd;
}
.categorywall .children > ul > li:hover{
	background: #FFFFDD;
}
.categorywall .children > ul > li > a{
	    line-height: 28px;
		display:block;
		width: 100%;
		position: relative;
		font-size: 14px;
}
.categorywall .children > ul > li > a .sub{
    position: absolute;
    right: 5px;
    top: 8px;
}

.categorywall a:hover {
	text-decoration: underline;
}

.categorywall .category_name {
    padding: 10px 0;
}

.categorywall.wide .category_name {
    padding: 0;
}

.left-znak{
	display: block; position: relative; top: -45px; color: #ddd;
	padding-left: 35px;    margin-left: auto; margin-right: auto;  max-width: 290px;
	text-align: left; width: 100%;
}

.left-znak::before{
	content: " ";
	position: absolute;
	left: -5px;
	top: -4px;
	width: 11px;
	height: 27px;
	background: #00CD00;
}
.categorywall_thumbnail{
	height: 120px;
	transition: 0.5s;
}
.categorywall_thumbnail:hover{
	transform: scale(1.05);
}
.categorywall_title{
	font-size: 20px;
	font-weight: 500;
	padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #999999;
}

.besstelers .product-thumb{
	height: 340px;
}
.besstelers .product-thumb a{
	color: #999999;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.besstelers .product-layout:hover .wishlist{
	visibility: visible;
}
.besstelers .product-layout:hover .button-buy{
	height: 41px;
}

.besstelers .product-name{
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #999999;
	overflow: hidden;
	height: 45px;
}
.besstelers .price{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #39a200;
}
.besstelers .rating{
	text-align: center;
	position: relative;
	bottom: 10px;
	padding-bottom: 0;
}
.besstelers .wishlist{
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #39a200;
	padding-bottom: 10px;
	visibility: hidden;
	transition: 0.2s;
}
.besstelers .fa-heart-o{
	width: 15px;
	height: 13px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #39a200;
	padding-right: 20px;
}
.besstelers .button-buy{
	/* Style for "Shape 11" */
	width: calc(100% - 30px);
	background-color: #63b635;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	bottom: 20px;
	left: 15px;
	position: absolute;
	height: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	transition: 0.2s;
}
.besstelers-title{
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #999999;
	padding: 30px 0;
}