body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 40px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #333;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */

/* search */

#search .input-lg {
	height: 34px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	min-height: unset;
}
#menu .nav > li > a {

	padding: 10px 15px 10px 15px;
	min-height: unset;
	background-color: transparent;
	text-transform: uppercase;
	color: #999999;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 8px;
}
#menu .nav >li > a:hover {
	color: #63b635;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 8px;
	text-transform: uppercase;
}

#language > div > button > span{
	font-size: 16px;
}

#menu .nav > li > a:hover, #menu .nav > li.open > a {
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}

.cart-total{
	position: absolute;
	bottom: 5px;
	left: 15px;
}

.button-buy:focus{
	outline: none !important;
	border: none;
	box-shadow: none;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	letter-spacing: 1.44px;
	line-height: 17.97px;
	color: #ffffff;
	font-weight: 400;
	background-color: #303030;
	border-top: 1px solid #ddd;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #333;
	padding-left: 20px;
	text-transform: uppercase;
}
footer a:hover {
	color: #63b635;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	text-align: right;
	margin: 0 0 20px 0;
	padding: 55px 20px;
	background: url(/image/breadcrumb.png) center;
	background-size: cover;

}
.breadcrumb a{
	white-space: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 42.59px;
	letter-spacing: 0.09px;
	opacity: 0.55;
	color: #e7fff5;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
}
.breadcrumb-header {
	color: #e7fff5;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	height: 21px;
	display: table;
	line-height: 42.59px;
	margin-bottom: 10px;
	float: left;
	margin-left: 30px;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	padding: 0 15px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	right: -4px;
	width: 10px;
	height: 14px;
	border-right: 1px solid #ffffff;

}
.breadcrumb > li:last-of-type:after {
	content: '';
	display: none;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 13px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 10px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-repeat: repeat-x;
	border-color:#fff;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 75px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
	font-size: 1.5rem;
}
.product-thumb .price-new {
	font-weight: 600;
	font-size: 1.5rem;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
	font-size: 1.5rem;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 95px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 177px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 30px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/*OPENCART.PRO*/

/*img category*/
.imgcategory .product-thumb.transition > h4 {
	padding-left: 10px;
}

.vertical-center {
	min-height: 100%;
	display: flex;
	align-items: center;
}

.line_html_content{
	color: #007bc3;
}
.width-100-p{
	width: 100%;
}
.f-24{
	font-size: 24px;
}
.f-20{
	font-size: 20px;
}
.f-16{
	font-size: 16px;
}
.f-14{
	font-size: 14px;
}
.f-10{
	font-size: 10px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-30{
	padding-top: 30px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-100{
	padding-bottom: 100px;
}
.pb-130{
	padding-bottom: 130px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-80{
	margin-bottom: 80px;
}
@media (max-width: 768px) {
	.mb-sm-30{
		margin-bottom: 30px;
	}
}
.mb-100{
	margin-bottom: 100px;
}
.mb-130{
	margin-bottom: 130px;
}
.mb-190{
	margin-bottom: 190px;
}
.pl-20{
	padding-left: 20px;
}
.pr-20{
	padding-right: 20px;
}
.mlr-auto{
	margin-left: auto;
	margin-right: auto;
}
.html-content-bottom{
	color: #000000;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26.94px;
}
.footer-text-height{
	height: 27px;
}
/*.carousel-inner::before{*/
	/*content: url('/image/catalog/icons/test_l.png');*/
	/*float: left;*/
	/*display: block;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
/*}*/
/*.carousel-inner::after{*/
	/*content: url('/image/catalog/icons/test_r.png');*/
	/*float: right;*/
	/*display: block;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*right: 0;*/
/*}*/
.container-full-width{
	margin-right: 15px;
	margin-left: 0;
}
@media (max-width: 992px) {
	.text-center-mobil{
		text-align: center!important;
	}
	.container-full-width{
		margin-right: 15px;
		margin-left: 0;
	}
}
@media (min-width: 992px) {
	.popular-product .btn-go-more{
		height: 45px;
		padding: 0;
		border: none;
		font-size: 0;
		transition: .5s;
	}
	.popular-product:hover .btn-go-more{
		padding: 10px;
		border: 2px solid #017bc3;
		font-size: 16px;
		height: 45px;
		color: #017bc3;
	}
}
.contact-form-top{
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
}
.contact-form-top input{
	height: 50px;
	margin-bottom: 15px;
	border-radius: 40px;
	width: 100%;
}

.contact-form-top input[type="button"]{
	margin-top: 10px;
	font-size: 16px;
}
.contact-form-top-col{
	border: 2px solid #017bc4;;
	border-left: none;
	border-right: none;
	min-height: 500px;
}

.contact-form-title{
	font-size: 35px;
	line-height: 39.41px;
	color: #000000;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
}
.contact-form-description{
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	margin-bottom: 45px;
}
#slideshow0 > div.owl-controls > .owl-pagination{
	display: none!important;
}
#slideshow0 .owl-wrapper-outer{
	min-height: 500px;
	height: 500px;
}
.img-responsive-v2{
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.border-none{
	border: none!important;
}
.dp-style > a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0;
}
.dp-style > ul {
	float: left;
	margin-top: 2px;
	text-transform: uppercase;
	min-width: 325px;
}
.dp-style>.dropdown-menu {
	display: none;
}
.dp-style:hover>.dropdown-menu {
	display: block;
}

body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > a{
    color: #333333;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
	font-weight: 400;
}

#menu{margin-bottom:0;}

@media (min-width:800px){.header-cols{height:80px;}}

@media (max-width:1400px){#menu .nav > li > a{padding: 10px 10px 10px 10px;} .image-additional{width: 16%;}}

@media (max-width:1200px){#menu .nav > li > a{padding: 10px 5px 10px 5px;} .logo-text{display:none !important;} .btn-lg{padding:10px 0 !important;} }


.header-menu-100{width:100%;}

#menu{width:100%;}

.fw-500{font-weight:500 !important;}

.dropdown-text{font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	color: #333333}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color:#fff;}

.dropdown-menu li a{color:#333;}

body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > ul > li:nth-child(4), body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > ul > li:nth-child(2){
	background-color:#f2f2f2;
}

.logo-text{color:#333;}

.fs-24{font-size:24px;}
.fs-16{font-size:16px;}

.fa-phone, .fa-map-marker{color: #007ac3;}

.dropdown-menu{padding:0 0;}

@media(max-width:767px){#menu-button{float:none !important;background-color:#fff !important;color:#333333 !important; background-image: none !important;border:none !important;box-shadow: none;} .menu-li-mobile{text-align:left;border-bottom:1px solid #999;}}

.html-content-bottom div, .html-content-bottom a{
	width: 100%;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{    outline: none !important;}
.display-table{
	display: table;
}
#coolbanner0{
	margin-bottom: 30px;
}
.html-content-bottom div, .html-content-bottom a{
	width: 100%;
}

#menu > div.navbar-collapse.navbar-ex1-collapse.displaynone-1024.collapse.in > ul > li:nth-child(7){border:none;}

#language > div > button{color:#333;padding:0;}

.displaynonetabletka{display:inline-block;}

@media (min-width:500px) and (max-width:800px){.fa-phone{ margin-bottom: 10px;} #language > div > button{padding:0;} .dp-style > a{padding-bottom:5px;padding-top:3px;} .displaynonetabletka{display:none;} #logo{padding:10px;} .mt-15{margin-top:15%;} #menu-button{margin-right:0;}}

.caption p a{font-size:14px;color:#000;}

.price{font-size:20px;}

.pagination>li>a, .pagination>li>span{
	border-radius: 40px;
	padding: 11px 16px;
	margin-right: 5px;
	border: 1px solid #007ac3;
	color: #007ac3;
}
.pagination>li:first-child>a, .pagination>li:last-child>a, .pagination>li:first-child>span, .pagination>li:last-child>span{
	border-radius: 40px;
	padding: 11px 16px;
}
.pagination .active span{
	border: 1px solid #cccccc;
	color: #cccccc;
	background-color: #ffffff;
}
#language > div > ul{
	left: unset;
	right: 0;
	min-width: 40px!important;
}

@media (min-width:768px) and (max-width:800px){
	#menu > div.collapse.navbar-collapse.navbar-ex1-collapse.displaynone-1024{padding:0;}
	#menu .nav > li > a{font-size:12px;}
	body > header > div > div > div.col-xs-12.col-sm-7.col-md-6.header-cols.vertical-center{padding:0;}
}

#search > span > a{
	border: none !important;
	box-shadow:none;
}

.contact-page-input{
	text-align:left !important;
}
.row1{

}
.row1:before,
.row1:after{
	display: table;
	content: " ";
}

.aksii, .aksii .product-thumb{
	height: 225px;
}

.aksii .product-name a{
	display: block;
	text-align: left;
	font-weight: 400;
	height:61px;
	overflow:hidden;
	text-transform: uppercase;
	color: #999999;
	font-size: 16px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.aksii .price{
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	color: #39a200;
	padding-bottom: 5px;
	padding-left: 15px;
}
.aksii .price-old{
	color: #999;
	text-decoration: line-through;
}
.aksii .rating{
	text-align: left;
	position: relative;
	bottom: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.aksii .wishlist{
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #39a200;
	transition: 0.2s;
}
.aksii .fa-heart{
	width: 15px;
	height: 13px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #39a200;
	padding-right: 20px;
}
.aksii .button-buy{
	height: 41px;
	width: 100%;
	background-color: #63b635;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	bottom: 20px;
	left: 15px;
	padding: 0;
	border: none;
	box-shadow: none;
	transition: 0.2s;
}
.aksii .carousel{
	min-height: 250px;
}
.aksii-title{
	padding-right: 40px;
	padding-left: 40px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
}
.aksii-podtitle{
	text-transform: uppercase;
	padding-top: 10px;
	text-align: center;
	color: #444444;
	font-size: 35px;
	line-height: 1;

}

.aksii .glyphicon-menu-left, .aksii .glyphicon-menu-right{
	border: 1px solid #39a200;
	border-radius: 40px;
	display: block;
	height: 40px;
	width: 40px;
	padding-top: 12px;
}
.aksii .glyphicon-menu-right:before{
	font-size: 15px;
	display: block;
}
.aksii .glyphicon-menu-left:before{
	font-size: 15px;
	display: block;
}
.aksiiya-border{
	border: 2px solid rgba(99, 182, 53, 0.5);
	padding: 20px;
}
.strelkii{
	display: table;
	width: 100%;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.aksii .carousel-control{
	position: relative;
	display: inline-block;
	background: transparent;
	font-size: 10px;
	color: #39a200;
	font-weight: 200;
	padding: 20px;
	width: 20%;
}
.strelkii .left.carousel-control{
	padding-left: 0;
	float: left;
}
.strelkii .right.carousel-control{
	float: right;
}
@media (max-width: 991px) {
	.producttabs{display:block !important;}
	.producttabs>li{width:100%;}
	.producttabs>li>a{width:100% !important;}
	.aksii-title{
		padding-top: 10px;
	}
	.aksii > div.col-xs-12.col-md-3.vertical-center{
		min-height: 80px;
	}
}

.footer-corporate-panel{
    height: 50px;
    background-color: #eeeeee;
}
.footer-corporate-text{
    height: 14px;
    color: #333333;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
}

.contact-form-or-html{
	min-height: 450px;
	background: url(/image/contact_or_html.png) no-repeat center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 80px;
}
.contact-form-or-html-title{
	color: #ffffff;
	font-size: 35px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 47px;
	text-align: center;
	max-width: 625px;
	margin: 40px 20px 20px 20px;
}
.contact-form-or-html-description{
	font-size: 14px;
	font-weight: 400;
	color: #bbbbbb;
	max-width: 600px;
	text-align: center;
	margin: 10px 20px 20px 20px;
}
.contact-form-or-html-btn{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #63b635;
	border: none;
	margin: 10px 20px 40px 20px;
	transition: all 1s;
}
#carousel0{
	margin-bottom: 60px;
}
#carousel0 .owl-wrapper-outer.border-none{
	box-shadow: none;
	padding: 0 35px;

}
#carousel0 .owl-pagination{
	display: none;
}
#carousel0 .fa{
	font-size: 20px;
	color: #999999;
}


.title-company{
	color: #999999;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0 35px;
	margin-bottom: 20px;
}
.text-left-company{
	color: #333333;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: left;
	line-height: 1;
	height: 50px;
	position: relative;
	margin-bottom: 5px;
}
.text-left-company:after{
	content: '';
	display: block;
	width: 60px;
	position: absolute;
	border-bottom: 2px solid #63b635;
	left: 0;
	bottom: 0;
}
.read-more-company{
	color: #999999;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	height: 50px;
	margin-bottom: 5px;
}
.arrow-read-more-company{
	color: #61b533;
	font-size: 16px;
	font-weight: bold;
	transition: all 150ms;
}
.about-company a:hover .arrow-read-more-company{
	padding-left: 5px;
}
.about-company{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 25px;
	margin-bottom: 50px;
}
.about-company .image-about-company{
	width: 100%;
	object-fit: cover;
}
.about-company .block1{
	flex-basis: 27%;
	padding: 0 10px;
	text-align: justify;
	font-size: 14px;
	color: #555555;
}
.about-company .block2{
	flex-basis: 27%;
	padding: 0 10px;
	text-align: justify;
	font-size: 14px;
	color: #555555;
}
.about-company .block3{
	flex-basis: 46%;
	padding: 0 10px;
}


.blog-image-wiget {
	width: 100%;
	padding-left: 20px;
	height: 250px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	object-position: center;
}

.left-znak-blog {
	display: block;
	position: relative;
	top: -130px;
	color: #ddd;
	padding-left: 45px;
	padding-right: 45px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: left;
	width: 100%;
}

.left-znak-blog::before {
	content: " ";
	position: absolute;
	left: 11px;
	top: -12px;
	width: 19px;
	height: 43px;
	background: #00CD00;
}
.text-blog-title-wiget{
	transition: all 400ms;
}
.left-znak-blog a:hover .text-blog-title-wiget{
	padding-left: 15px;
	transform: scale(1.1);
}

.text-blog-title-wiget {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

.text-blog-description-wiget {
	padding-top: 19px;
	opacity: 0.85;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}
.laters-blog-title{
	padding-left: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
}
@media (max-width: 567px) {
	.left-znak-blog{
		top: -150px;
	}
	.article-blog-wiget .product-layout{
		height: 290px;
	}
}
.article-blog-wiget .product-layout{
	min-height: 260px;
	height: 260px;
}



.header-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height:100px;
}
.block-logo{

}
.block-menu{

}
.block-search{
	flex-basis: 28%;
	border: 2px solid rgba(99, 182, 53, 0.45);
	border-radius:17px;
}

.searchbutton{
	border-radius:17px;
	padding:7px 10px;
}

.inputsearch{
	border-radius:17px;
	border:none;
}
.block-cart{

}
.block-cart > .list-inline{
	margin: unset;
}

.block-cart > .list-inline > li > a{
	color:#999;
}

.block-cart > .list-inline > li > a >i{
	font-size:16px;
}

.fa-caret-down{
	font-size:16px;
	color:#999;
}

.text-uppercase{
	font-size:16px;
	font-weight:700;
	color:#999;
}

.flexfooter{
    display:flex;flex-wrap:wrap;
    justify-content: space-between;
}

.footer-title{
    margin-bottom: 35px;
    color: #333333;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-transform: uppercase;
    color: #333333;
}

.footer-text {
    margin-bottom:20px;
    color: #333333;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.inputnewsletter{
	position: absolute;
	display: inline-block;
	width: 320px;
	height: 45px;
	background-color: #cccccc;
	border-radius: 30px;
	border: none;
}

#inputnewsletter:focus{
	outline: none !important;
}

.contact-block{
    flex-basis: 32%;
}

.signup-block{
    flex-basis: 32%;
}

.footermenu-block{
    flex-basis:32%;
}

.footerline{
    flex-basis:1%;
}

.footermenu-block{
    color:#333;
}

.footerlineinner{
    background-color:#333;
    width:1px;
    height:210px;
}

.productline{
	display:inline-block;
}

.productlinehorisontal{
	display:inline-block;
}

.quantityinput{
	min-width:35px;
width:6%;
	display:inline-block;
	height:40px;
	border-radius: unset;
	border:1px solid #63b635;
}

.selectoption{
	display: inline-block;
	width: 50%;
	border-radius: unset;
	border: 1px solid #63b635;
}
.btnproduct{
	display:inline-block;
	width:30%;
	height:40px;
	background-color: #63b635 !important;
	border:none;
	border-radius:unset;
}

.producttabs{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom:15px;
}

.towishlist{color:#63b635;}

.productlineinner{
	background-color: #63b635;
	width: 1px;
	height: 30px;}

.productlinehorisontalinner{
	width:500px;
	height:2px;
	background-color:#ddd;
	margin-bottom:25px;
}

.nav-tabs>li>a{
	width:200px;
	height:50px;
	margin-right:15px;
	padding:15px 15px;
	text-align: center;
	font-family: Montserrat,sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #555555;
	background-color:#eee;
	border-radius: unset;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color:#63b635;
	font-weight:400;
	color:#fff;
}

.menufooter a{
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    flex-basis: 50%;
    margin-bottom:25px;
	cursor: pointer;
}

.menufooter{
    display: flex;
    flex-wrap: wrap;
}

footer{
    min-height:300px;
    background-color: #ffffff;
    box-shadow: 0 -3px 21px rgba(85, 85, 85, 0.15);
    color: #333333;
}

.fa-map-marker, .fa-phone, .fa-envelope{width:24px;height:24px;font-size:24px;color:#63b635;text-align:center;}

.locationfooter, .emailfooter, .numberfooter{
    margin-left:20px;
    display:inline;
    margin-right:20px;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    }

.contact-location, .contact-email{
    margin-bottom:25px;
}


@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px){
	.text-left-company{
		font-size: 24px;
		overflow: hidden;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.about-company{
		flex-direction: row;
	}
	.about-company .block1{
		flex-basis: 100%;
	}
	.about-company .block2{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.about-company .block3{
		flex-basis: 100%;
	}
	.about-company .read-more-company{
		display: none;
	}
}
@media (min-width: 300px) and (max-width: 767px){
	.about-company{
		flex-direction: row;
	}
	.about-company .block1{
		flex-basis: 100%;
	}
	.about-company .block2{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.about-company .block3{
		flex-basis: 100%;
	}
	.about-company .read-more-company{
		display: none;
	}
	.text-left-company{
		font-size: 24px;
		overflow: hidden;
	}
}

@media (min-width: 300px) and (max-width: 768px){
	.
    .block-search{display:none;}
    .block-cart .list-inline{width:80px;}
    .block-cart .list-inline li{width:30px;}
	.contact-block, .footermenu-block, .signup-block{flex-basis: 100%;}
}

@media (max-width:1200px){
	.productlinehorisontalinner{display:none;}
	.footerline{display:none;}
}

@media (max-width:1399px) {
    .text-left-company{font-size:25px !important;}
}
.alert.alert-success{
	position: fixed; top: 0; left: 0; width: 100%;  z-index: 10;
}

@media (min-width:1200px){
    .container{width:1195px;}
}
.titleproduct{
    margin-bottom:20px;
    font-family: "Montserrat - Semi Bold";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    /* Text style for "Lorem ipsu" */
    color: #333333;
}
.priceproduct{
    margin-bottom:25px;
    font-family: Montserrat,sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #63b635;}
.instock{
	display:inline-block;
    color: #555555;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom:10px;
}

@media (max-width:1000px){.block-search{display:none !important;}}

.bannercontainer{
	padding:0 !important;
}
/*.poloska-dla-kart{*/
	/*background: #ffffff;*/
	/*height: 47px;*/
	/*width: 101%;*/
	/*left: -1px;*/
	/*border: none;*/
	/*position: relative;*/
	/*z-index: 2;*/
/*}*/
/*#iframe-map-id{*/
	/*z-index: 1;*/
	/*position: relative;*/
	/*top: -46px;*/
/*}*/